ul {
    list-style-type: none;
    margin: 0;
    padding: 0;   
}

li {
    display: inline; 
    padding: 14px 16px;
}

li a{
    text-decoration: none;
}

h1{
    font-family: 'Gothic A1', sans-serif;
}

p{
    font-family: 'EB Garamond', serif;
}