body {background-color: #F8F8F8}
.row{display: flex; flex-wrap: wrap;}
.column {flex: 50%}
.navigation{padding:0; margin-left: 10px; min-width: 100%; list-style: none; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap;justify-content: flex-start;}

.navigation a{display: block; padding:14px; line-height: 10px; color: black; font-family: 'EB Garamond', serif; text-align: center; text-decoration: none;}
.navigation .icon{display: none;}
.navigation .link:hover{color:#ec5800;}
.navigation #CurrentPage{text-decoration:underline; text-decoration-color:	#ec5800;}

#nav-toggle span:nth-child(1) {
    top: 0px;
  }
  
  #nav-toggle span:nth-child(2),#nav-toggle span:nth-child(3) {
    top: 18px;
  }
  
  #nav-toggle span:nth-child(4) {
    top: 36px;
  }
  
  #nav-toggle.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-toggle.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-toggle.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-toggle.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

.header{padding:0; margin: 14px;list-style: none; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap;justify-content: flex-start;background-image: url(../images/gray_rect.png);max-width: 60%;}
.header h1{display: block; padding:14px 14px 0 14px; margin-bottom: -1px; margin-top:10px; font-family: 'Gothic A1', sans-serif; text-align: left;}
.header p{display: block; padding:0 14px 14px 14px; margin-bottom:10px; font-family: 'EB Garamond';text-align: left;}

.body{min-width: 100%; margin-left: 14px; justify-content: flex-start;}

.footer{padding:0; margin: 0; min-width: 100%; list-style: none; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: flex-start; background-color: #F8F8F8;}
.footer p{margin-left: 14px;font-family: 'EB Garamond', serif;font-size: 15px; font-style: italic}

.accordion {background-color: #F8F8F8;color: rgb(0, 0, 0);cursor: pointer; margin-left: 1px; width: 100%; text-align: left; border: none;outline: none;transition: 0.4s;}
.panel {padding:0 18px; background-color:#F8F8F8; max-width: 75%; overflow: none; display: none; transition: max-height 0.2s ease-out; font-family: 'EB Garamond'; margin-bottom: 25px; line-height: 25px;}
.accordion:after {content: '\02795'; font-size: 15px; color: rgb(0, 0, 0); float:left;}
.active:after {content: "\2796";}

.image{margin-top: 14px;}
.flexbox-image{max-width: 80%; max-height:80%}
.hidden {position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden;}
.icon{margin-left: -5px;}

#biophoto{max-width: 40%; max-height:40%; padding:14px 16px;}

li a{text-decoration: none;}
h1{font-family: 'Gothic A1', sans-serif;}
p{font-family: 'EB Garamond', serif;}
figcaption{font-family: 'EB Garamond', serif; line-height: 25px;}
figure{margin-block-start: 0; margin-block-end: 0; margin-inline-start: 0;margin-inline-end: 0;}

@media screen and (max-width: 992px) {.column {flex: 50%;max-width: 50%;}}
@media screen and (max-width: 650px) {.column {flex: 100%;max-width: 100%;}}
@media screen and (max-width: 500px) {.navigation a{display: none;}.navigation a.icon {float: right; display: block;}}
@media screen and (max-width: 500px) {.navigation.responsive {position: relative;}.navigation.responsive a.icon {display: block; width: 100%; text-align: left; position: absolute;}.navigation.responsive a.link {display: block; width: 100%; text-align: left; padding: 5px;}.navigation.responsive .firstlink {margin-top:50px;}}